<div class="moment">
  <h1>{{ moment.title }}</h1>
  <img
    src="{{ baseApiUrl }}uploads/{{ moment.image }}"
    alt="{{ moment.title }}"
  />
  <div class="about-moment">
    <h3>Sobre este momento:</h3>
    <p>{{ moment?.description }}</p>
  </div>
  <div class="actions">
    <h3>Ações:</h3>
    <div class="actions-box">
      <a routerLink="/moments/edit/{{ moment.id }}" class="edit-btn">
        <mat-icon class="edit">edit</mat-icon> Editar
      </a>
      <button class="remove-btn" (click)="removeHandler(moment.id!)">
        <mat-icon class="remove">close</mat-icon> Excluir
      </button>
    </div>
  </div>
  <!--Todo comentários-->
  <div class="comments">
    <h3>Comentários: ({{moment.comments!.length > 0 ? moment.comments!.length : 0}})</h3>
  </div>
</div>
